@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@300&display=swap');

body{
    font-family: "Roboto Mono", monospace !important;
}

.formulario{
    width: 40%;
    margin: 10px auto;
}

.btn-login{
    background-color: #8d4a2a;
    border: 0;
    padding: 6px;
    border-radius: 10px;
    color: #ffff;
}

.btn-login:hover{
    color: #b77e62;
}

.navbar-bg{
    background-color: #8d4a2a;
}

.nav-link{
    color: #ffff !important;
}

.nav-link:hover{
    color: #b77e62 !important;
}